<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Oculus Go / VR Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- VR Features -->
    <!-- Optional so this APK can run on phones/TVs as well as headsets -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    
    <!-- TV support (optional; allows install/run on Google TV / Android TV) -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.type.television" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- VR support (optional; enables better behavior on headsets) -->
    <uses-feature android:name="android.software.vr.mode" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            
            <!-- Oculus Go specific intent filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <!-- Oculus VR metadata -->
        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
    </application>

</manifest>
